<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Consultas</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 40px;">
    <h1>Ver Histórico de consultas</h1>
    <p>Aqui ficam registradas todas as consultas anteriores.</p>
    
    <a href="{{ url_for('area_psicologo') }}"style="padding: 10px 20px; background: #017193; color: white; text-decoration: none; border-radius: 5px;">Voltar para o Painel</a>
</body>
</html>