<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas de Saúde</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 40px;">
    <h1>Publicar Novas dicas</h1>
    <p>Aqui você pode publicar dicas de saúde para os alunos.</p>
    
    <a href="{{ url_for('psicologo.psicologo_dicas') }}" style="padding: 10px 20px; background: #017193; color: white; text-decoration: none; border-radius: 5px;">Voltar para o Painel</a>
</body>
</html>
